backports.weakref
backports-datetime-fromisoformat
django-extensions
flake8
geopy
graphyte
git+https://github.com/1Password/connect-sdk-python@5198bd3cac80b960341caf5678e027ca5b7e4155
pysnmp==4.4.12
python-dateutil
rrdtool
napalm
whisper
pytz==2022.1
meraki==1.40.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
