backports.weakref
backports-datetime-fromisoformat
django-extensions
flake8
geopy
graphyte
git+https://github.com/1Password/connect-sdk-python
pysnmp
python-dateutil
rrdtool
napalm
whisper
pytz==2022.1
git+https://code.canarie.ca/gren_map/grenml.git
meraki==1.38.0
