{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{ contact }}{% endblock %}

{% block header %}
<div class="row noprint">
  <div class="col-sm-8 col-md-9">
    <ol class="breadcrumb">
      <li><a href="{% url 'plugins:netbox_sidekick:contact_index' %}">Contact</a></li>
      <li>{{ contact }}</li>
    </ol>
  </div>
  <div class="col-sm-4 col-md-3">
    <form action="{% url 'plugins:netbox_sidekick:contact_index' %}" method="get">
      <div class="input-group">
        <input type="text" name="q" class="form-control" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<h1>{{ contact }}</h1>
{% include 'inc/created_updated.html' with obj=contact %}

{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Contact</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>First Name</td>
          <td>{{ contact.first_name }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ contact.last_name }}</td>
        </tr>
        <tr>
          <td>Title</td>
          <td>{{ contact.title }}</td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>{{ contact.phone }}</td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td>{{ contact.email }}</td>
        </tr>
        <tr>
          <td>Comments</td>
          <td>{{ contact.comments }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Belongs To</h3>
    <div class="panel panel-default">
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock %}
