{% include 'sidekick/template_content/_graph_assets.html' %}
<div class="card">
  <h5 class="card-header">Sidekick Interface Statistics</h5>
  <div class="card-body">
    <table class="table table-hover attr-table">
      <tr><td>Admin Status</td><td>{{ nic.admin_status }}</td></tr>
      <tr><td>Oper Status</td><td>{{ nic.oper_status }}</td></tr>
      <tr><td>In Rate</td><td>{{ nic.in_rate }}</td></tr>
      <tr><td>Out Rate</td><td>{{ nic.out_rate }}</td></tr>
      <tr><td>In Octets</td><td>{{ nic.in_octets }}</td></tr>
      <tr><td>Out Octets</td><td>{{ nic.out_octets }}</td></tr>
      <tr><td>In Unicast Packets</td><td>{{ nic.in_unicast_packets }}</td></tr>
      <tr><td>Out Unicast Packets</td><td>{{ nic.out_unicast_packets }}</td></tr>
      <tr><td>In Nunicast Packets</td><td>{{ nic.in_nunicast_packets }}</td></tr>
      <tr><td>Out Nunicast Packets</td><td>{{ nic.out_nunicast_packets }}</td></tr>
      <tr><td>In Errors</td><td>{{ nic.in_errors }}</td></tr>
      <tr><td>Out Errors</td><td>{{ nic.out_errors }}</td></tr>
    </table>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Graphs</h5>
  <div class="card-body">
    <div id="sidekick-nic-graph"></div>
  </div>
</div>
<script type="text/javascript">
(function () {
  var div = 'sidekick-nic-graph';
  sidekickOnReady(function () {
    sidekickFetchJson(
      "{% url 'plugins:sidekick:nic_graphite_data' pk=object.pk %}",
      function (json) {
        if (!sidekickHasData(json)) {
          sidekickShowEmpty(div, 'No bandwidth data available for this interface.');
          return;
        }
        var size = sidekickGraphSize(div);
        var u = new uPlot(
          sidekickSeriesOpts(size),
          json.graph_data.data,
          document.getElementById(div)
        );
        window.addEventListener("resize", function () {
          u.setSize(sidekickGraphSize(div));
        });
      }
    );
  });
})();
</script>
