{% include 'sidekick/template_content/_graph_assets.html' %}
<div class="card">
  <h5 class="card-header">Graphs</h5>
  <div class="card-body">
    <div id="sidekick-service-graph"></div>
  </div>
</div>
<script type="text/javascript">
(function () {
  $(document).ready(function () {
    $.ajax({
      url: "{% url 'plugins:sidekick:network_service_graphite_data' pk=object.pk %}",
      dataType: 'json',
      success: function (json) {
        if (!sidekickHasData(json)) {
          return;
        }
        var size = sidekickGraphSize('sidekick-service-graph');
        var u = new uPlot(
          sidekickSeriesOpts(size),
          json.graph_data.data,
          document.getElementById('sidekick-service-graph')
        );
        window.addEventListener("resize", function () {
          u.setSize(sidekickGraphSize('sidekick-service-graph'));
        });
      }
    });
  });
})();
</script>
