{% extends 'base/layout.html' %}
{% load render_table from django_tables2 %}

{% block title %}{{ contact_type }}{% endblock %}

{% block header %}
<div class="row noprint">
  <div class="col-sm-8 col-md-9">
    <ol class="breadcrumb">
      <li><a href="{% url 'plugins:sidekick:contacttype_index' %}">Contact Types</a></li>
      <li>{{ contact_type.name }}</li>
    </ol>
  </div>
  <div class="col-sm-4 col-md-3">
    <form action="{% url 'plugins:sidekick:contacttype_index' %}" method="get">
      <div class="input-group">
        <input type="text" name="q" class="form-control" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<h1>{{ contact_type.name }}</h1>
{% include 'sidekick/include/created_updated.html' with obj=contact_type %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Contact Type</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>Name</td>
          <td>{{ contact_type.name }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock %}
