{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Interface {{ nic.interface.name }} on {{ nic.device.name }}{% endblock %}

{% block header %}
<script src="https://leeoniya.github.io/uPlot/dist/uPlot.iife.min.js"></script>
<link rel="stylesheet" href="https://leeoniya.github.io/uPlot/dist/uPlot.min.css" />

<div class="row noprint">
  <div class="col-sm-8 col-md-9">
    <ol class="breadcrumb">
      <li><a href="{% url 'plugins:sidekick:nic_index' %}">Interfaces</a></li>
      <li>{{ nic.interface.name }}</li>
    </ol>
  </div>
  <div class="col-sm-4 col-md-3">
    <form action="{% url 'plugins:sidekick:nic_index' %}" method="get">
      <div class="input-group">
        <input type="text" name="q" class="form-control" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<h1>{{ nic.interface.name }}</h1>
{% include 'inc/created_updated.html' with obj=routingtype %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>NIC</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>Interface Name</td>
          <td>{{ nic.interface.name }}</td>
        </tr>
				<tr>
					<td>Device</td>
					<td>
            <a href="{{ nic.interface.device.get_absolute_url }}">
              {{ nic.interface.device.name }}
            </a>
          </td>
        </tr>
        <tr>
          <td>Admin Status</td>
          <td>{{ nic.admin_status }}</td>
        </tr>
        <tr>
          <td>Oper Status</td>
          <td>{{ nic.oper_status }}</td>
        </tr>
        <tr>
          <td>out_octets</td>
          <td>{{ nic.out_octets }}</td>
        </tr>
        <tr>
          <td>in_octets</td>
          <td>{{ nic.in_octets }}</td>
        </tr>
        <tr>
          <td>out_unicast_packets</td>
          <td>{{ nic.out_unicast_packets }}</td>
        </tr>
        <tr>
          <td>in_unicast_packets</td>
          <td>{{ nic.in_unicast_packets }}</td>
        </tr>
        <tr>
          <td>out_nunicast_packets</td>
          <td>{{ nic.out_nunicast_packets }}</td>
        </tr>
        <tr>
          <td>in_nunicast_packets</td>
          <td>{{ nic.in_nunicast_packets }}</td>
        </tr>
        <tr>
          <td>out_errors</td>
          <td>{{ nic.out_errors }}</td>
        </tr>
        <tr>
          <td>in_errors</td>
          <td>{{ nic.in_errors }}</td>
        </tr>
        <tr>
          <td>out_rate</td>
          <td>{{ nic.out_rate }}</td>
        </tr>
        <tr>
          <td>in_rate</td>
          <td>{{ nic.in_rate }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Graphs</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        {{ graph_data.data|json_script:"graph_data" }}
        <tr>
          <td>
            <center><h4>{{ graph_data.title }}</h4></center>
            <div id="graph"></div>
            <script type="text/javascript">
            let data = JSON.parse(document.getElementById('graph_data').textContent);

            let opts = {
              width: 600,
              height: 350,
              series: [
                {},
                {
                  label: "In",
                  stroke: "#2E7D32",
                  fill: "#66BB6A",
                },
                {
                  label: "Out",
                  stroke: "#1565C0",
                  fill: "#42A5F5",
                  value: (self, rawValue) => rawValue.toFixed(3) * -1,
                },
              ],
            };

            let uplot = new uPlot(opts, data, document.getElementById('graph'));
            </script>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
{% endblock %}
